form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 15px;
}

button[type="submit"] {
  background-color: #42a5f5;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

button[type="button"] {
  background-color: #eeeeee;
  color: #616161;
  border-radius: 20px;
  padding: 10px 20px;
}

button[type="button"]:hover {
  background-color: #dcdcdc;
}
