

<div class="calendar-container">
  <div class="theme-toggle">
    <mat-slide-toggle (change)="toggleDarkMode($event.checked)">Dark Mode</mat-slide-toggle>
  </div>
  <div class="calendar-header">
    <button mat-icon-button (click)="previousMonth()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <span>{{ monthsOfYear[currentMonth] }} {{ currentYear }}</span>
    <button mat-icon-button (click)="nextMonth()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <div class="calendar-grid">
    <div class="calendar-day" *ngFor="let day of daysOfWeek">{{ day }}</div>
    <div 
      class="calendar-date" 
      *ngFor="let date of calendarDates"
      [ngClass]="{'empty': date === null}"
      (click)="selectDate(date)">
      <span *ngIf="date !== null">{{ date }}</span>
    </div>
  </div>

  <app-form-appointment [selectedDate]="selectedDate"></app-form-appointment>

  <app-edit-appointment
    *ngIf="editingAppointment && selectedDate"
    [appointment]="editingAppointment"
    [selectedDate]="selectedDate"
    (appointmentUpdated)="handleAppointmentUpdated()"
    (editCancelled)="handleEditCancelled()">
  </app-edit-appointment>
</div>
  
<div class="day-view-container" *ngIf="selectedDate">
  <div class="appointment-list">
    <h3>Appointments for {{ selectedDate }}</h3>
  </div>
    <div class="time-slot" *ngFor="let hour of hours">
      <div class="time-label">{{ hour }}</div>
      <div class="appointment-slot"
        cdkDropList
        [cdkDropListData]="getAppointmentsForHour(hour)"
        (cdkDropListDropped)="drop2($event, hour)"
        [ngClass]="{ 'has-appointment': hasAppointment(hour) }">
        <ng-container *ngFor="let appointment of getAppointmentsForHour(hour)">
          <div class="appointment-item" cdkDrag>
            <strong>{{ appointment.time }}</strong>: {{ appointment.description }}
            <button mat-icon-button (click)="startEditing(selectedDate!, appointment)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteAppointment(selectedDate!, appointment.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>

    </div>
  </div>